<!Doctype html>
<html>

<head>
    <title>step 1</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/registration.css">
</head>

<body>
    <div class="main">
        <div class="logo-container new-logo-container" id="logo-container">
            <img src="~/assets/images/logo.png" alt="Netflix logo">
            <a href="/" class="signin-btn">Sign In</a>
        </div>        
        @RenderBody()
    </div>
</body>

</html>