@page
@{
    Layout = "_RegistrationLayout";
}
<div class="credit-container">
    <div class="credit-body">
        <p>STEP <b>3</b> OF <b>3</b></p>
        <h1>Set up your credit or debit card</h1>

        <div id="card-types">
            <img src="~/assets/images/visa.svg" alt="visa">
            <img src="~/assets/images/master.svg" alt="visa">
            <img src="~/assets/images/express.svg" alt="visa">
        </div>
        <div class="form-field">
            <input type="text" name="firstName" id="firstName" placeholder="First name">
        </div>
        <div class="form-field">
            <input type="text" name="lastName" id="lastName" placeholder="Last name">
        </div>
        <div class="form-field">
            <input type="text" name="expirationDate" id="expirationDate" placeholder="Expiration date">
        </div>
        <div class="form-field">
            <input type="number" name="securitycode" id="securityCode" placeholder="Security code (CVV)">
        </div>

        <div class="plan-info">
            <div>
                <div id="plan-amount">
                    <p id="amount">R199/month</p>
                </div>
                <div id="plan-name">
                    <p id="name">Premium Plan</p>
                </div>
            </div>
            <div>
                <a href="planform">Change</a>
            </div>
        </div>

        <span>Your payments will be processed internationally. Additional bank fees may apply.</span>

        <span>By checking the checkbox below, you agree to our <a href="#">Terms of Use</a>, <a href="#">Privacy
                Statement</a>, and that you are over 18. Netflix will automatically continue your membership and charge
            the membership fee (currently R199/month) to your payment method until you cancel. You may cancel at any
            time to avoid future charges.</span>

        <div style="display: flex; align-items: center;color: #8c8c8c">
            <input type="checkbox" name="" id="agreement">
            <label for="agreement" style="font-size: 20px">I agree</abel>
        </div>

        <div style="height: 60px;margin-bottom: 20px">
            <button type="submit" class="next">Start membership</button>
        </div>
    </div>
</div>