@page
@{
    Layout = "_RegistrationLayout";
}
<div class="info-blog new-info-blog">
    <div class="reg-info">
        <div id="test">
            <img src="~/assets/images/Devices.png" alt="Devices">
        </div>
        <p>Step <b>1</b> of <b>3</b></p>

        <h1 id="info-h1">Finish setting up your account</h1>
        <span id="info-span"> Netflix is personalized for you. Create a password to watch on any device at any time.</span>
        <div>
            <a href="registration/register" class="next">Next</a>
        </div>
    </div>
</div>