@page
@model RegisterModel
@{
    Layout = "_RegistrationLayout";
}
<div class="form-blog">
    <div class="reg-form-blog">
        <p>Step <b>1</b> of <b>3</b></p>

        <h1 id="reg-form-title">Create a password to start your membership</h1>
        <div class="form-text">Just few steps then you done!</div>
        <div class="form-text">We hate paperwork, too.</div>
        <form method="post">
            <div class="form-field">
                <input type="email" name="email" id="email" placeholder="Email" value="@Model.Email">
            </div>

            <div class="form-field">
                <input type="password" name="password" id="password" placeholder="Add a password" value="@Model.Password">
            </div>
            <div id="special">
                <input type="checkbox" id="cb">
                <label for="cb">Please do not email me Netflix special offers.</label>
            </div>
            <div style="height: 55px">
                <button type="submit" class="next" style="border: none; font-size: 25px">Next</button>
            </div>
        </form>
    </div>
</div>
<script>
    alert("w: "+window.screen.width + "h: "+window.screen.height)
    var email = document.getElementById("email");
    email.value = localStorage.getItem("email");
</script>