* {
    padding: 0;
    margin: 0;
}
.main {
    background-color: white ;
    color: black;
}
.new-logo-container {
    position: relative !important;
    margin: 0;
    border-bottom:  1px solid lightgray;
}
.signin-btn {
    background-color: transparent !important;
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
}
.new-info-blog {
    height: 80vh;
    margin-top: -50px !important;
}
.info-blog p {
    margin-top: 50px;
    text-align: center;
    color: #333333;
}
#test {
    display: flex;
    justify-content: center;
}
.reg-info {
    margin-top: 0px !important;
    width: 320px !important;
}
#info-h1{
    margin: 10px 0 10px;
    font-size: 30px !important;
    color: #333333;
}
#info-span {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #333333;
}
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100%;
    width: 100%;
    background-color: #e50914;
    color: #fff;
    border-radius: 5px;
}

/* Register */
.form-blog {
    width: 100%;
    display: flex;
    justify-content: center;
}
.reg-form-blog {
    padding-top: 30px;
    width: 450px;
}
#reg-form-title {
    font-size: 32px;
    text-align: left;
    line-height: 50px;
    color: #333333;
}
.form-text {
    padding: 10px 0;
    font-size: 20px;
    font-weight:100;
    color: #333333;
}
.reg-form-blog .form-field{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background-color: red;
}
.reg-form-blog .form-field input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding-left: 5px;
    font-size: 20px;
    outline: none;
}
#special {
    display: flex;
    align-items: center;
}
#special label {
    font-size: 18px;
    color: #333333;
    font-weight: 100 !important;
}
#cb {
    zoom:2;
    border-radius: 0;
}
/* signup */
.signup-blog {    
    color: #333333;
    display: flex;
    justify-content: center;
}
.signup-body {
    margin-top: 120px;
    width: 350px;
}
#check-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.signup-body p, h1 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.signup-body a {
    font-size: 25px;
}
.rules {
    margin-top: 20px;
}
.rule {
    display: flex;
    margin: 18px 0;
}
.tick {
    color: #e50914;
}
.rule div:last-child {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
}
.rules .next {
    margin-top: 50px;
    height: 70px;
}
/* planform */
.plan-container {
    display: flex;
    justify-content: center;    
    color: #333333;
    overflow: visible !important;
}
.plan-header h1{
    text-align: left;
}
.plan-header .rule {
    margin: 12px 0 !important;
}
.plan-content {
    width: 1100px;
}
.plans-container.main-title {
    top: 5px;
    position: sticky;
    background-color: #fff;
    z-index: 1;
}
.plans-container {
    display: flex;
    justify-content: flex-end;
    height: 150px;
    width: 100%;
}
.plan {
    display: flex;
    box-sizing: border-box;
    background-color: #e50914;
    margin: 0 15px;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    width: 150px;
    opacity: 0.6;
}
.plan.active {
    opacity: 1;
}
.plans-info {
    position: relative;
    margin-top: 20px;
    height: 50px !important;
    border-bottom: 1px solid lightgray;
}
.description {
    font-size: 18px;
    position: absolute;
    left: 0;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}
.price {
    margin:0 15px;
    color: #737373;
    font-weight: bold;
    font-size: 18px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price.active {
    color: #e50914;
}
.device-container {
    position: relative;
    height: fit-content !important;
}
.description.device {
    top: 0 !important;
    font-weight: normal;
    color: #333333;
    font-size: 18px;
}
.devices {
    height: fit-content !important;
    display: flex;
    flex-direction: column;
    border-bottom: none;
}
.device {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px 0;
    font-size: 15px;
    font-weight:bold;
}
.devices.active > svg {
    color: #e50914;
}
.plan-body p {
    margin: 20px 0;
    max-width: 850px;
    color: #737373;
    font-size: 13px;
}
#next-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
#next-container a{
    width: 500px;
    height: 70px;
    margin: 15px 0;
    font-size: 25px;
}

/* payment picker */
.picker-container {
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picker-container img {
    margin-bottom: 50px;
}
.picker-container h1 {
    margin: 20px 0;
}
.picker-container .info {
    font-weight: bold;
    font-size: 20px;
}
.payment-type-container {
    width: 500px;
    margin-top: 10px;
}
.picker-container .secure {
    display: flex;
    justify-content: flex-end;
}
.payment-type {
    width: 100%;
    height: 60px;
    margin: 5px 0;
    display: flex;
    box-sizing: border-box;
    padding: 15px 10px;
    border: 3px lightgray solid;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
}
.payment-type #first {
    display: flex;
    align-items: center;
}
.payment-type #payment-info {
    font-size: 18px;
}
.payment-type #card-types {
    display: flex;
    height: 100%;
}
#card-types img{
    height: 100%;
    margin: 0 5px;
}
#arrow {
    height: 100%;
}
/* credit option */
.credit-container {
    width: 100%;
    color: #333333;
    display: flex;
    justify-content: center;
}
.credit-body {
    width: 460px;
}
.credit-body h1 {
    text-align: left;
    font-size: 35px;
    margin: 10px 0;
}
.credit-body #card-types {
    display: flex;
    height: 25px;
    margin-bottom: 10px;
}
.credit-body .form-field{
    width: 100%;
    height: 70px;
    margin: 20px 0;
}
.credit-body .form-field input {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    font-size: 18px;
    height: 100%;
    outline: none ;
}
.plan-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    height: 60px;
    padding: 10px 15px;
}
.plan-info #amount{
    font-size: 20px;
    font-weight: bold;
}
.plan-info #name {
    font-size: 20px;
    color: #737373;
}
.plan-info a {
    font-size: 20px;
    font-weight: bold;
    color: #0071eb;
}
.credit-body span {
    font-size: 13px;
    display: block;
    color: #8c8c8c;
    margin: 18px 0;
}
.credit-body button {
    font-size: 20px;
    border: none;
}
.credit-body button:hover {
    background-color: #f6121d;
}
.credit-body input[type="checkbox"] {
    zoom: 3;
    border: 1px solid #8c8c8c;
}