* {
  padding: 0;
  margin: 0;
}
html {
  color: #fff;
  font-family:  'Helvetica', Arial, sans-serif;
  /* overflow: hidden; */
}
.main-body {
  background-color: black;
  z-index: -1;
}
.background-container {
  background: url(../assets/images/background.jpg);
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
}
.logo-container {
  position: absolute;
  box-sizing: border-box;
  top: -20px;
  padding: 0px 20px;
  height: 130px;
  width: fit-content;
}
.logo-container img {
  height: 100%;
}
.login-form-container {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  box-sizing: border-box;
  padding:70px 80px 0px;
  position: relative;
  top: 100px;
  margin: auto;
}
.login-form-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.form-input {
  height: 60px;
  padding-right: 15px;
}
.form-input input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: #8c8c8c;
  background-color: #333;
  border: none;
  outline: none;
  padding: 0 0 0 15px;
  font-size: 18px;
}
.login-form-container div {
  margin: 20px 0;
}
input[type="submit"] {
  height: 55px;
  width: 100%;
  background-color: #e50914;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 22px;
  margin: 40px 0 0px;
}
#remember {
  margin: 0 0 40px !important;
  display: flex;
  justify-content: space-between;
}
#remember * {
  color: #b3b3b3;
}
#remember input[type="checkbox"] {
  display: inline;
  accent-color: #b3b3b3;
}
a{
  text-decoration: none;
}
a:hover {
  text-decoration:underline;
}
.login-form-footer span{
  font-size: 19px;
  color: #737373;
}
.login-form-footer span:last-child {
  font-size: 16px;
}
.login-form-footer span:last-child a {
  color: blue;
}
.login-form-footer a {
  color: #fff;
}
.form-info span{
  color: #8C8C8C;
}

@media only screen and (max-width: 739px) {
  .background-container {
    background: none;
  }
  .login-form-container {
    width: 100%;
    margin: 0 0px;
  }
}

/* Email styles */
#logo-container {
  display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}
.logo-container a{
  background-color: #e50914;
  color: #fff;
  padding: 12px 15px !important;
  border-radius: 5px;
}
.info-blog {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-blog div {
  z-index: 1;
  margin-top: 60px;
  width: 650px;
}
.info-blog div h1, h2, h3 {
  text-align: center;
}
.info-blog div h1 {
  font-size: 60px;
}
.info-blog div h2 {
  margin: 30px 0;
  font-size: 30px;
  font-weight: 200;
}
.info-blog div h3 {
  font-weight: 600;
}
.info-blog div div {
  margin-top: 10px;
  height: 60px;
  display: flex;
  width: 100%;
}
.info-blog div div > * {
  height: 100%;
}
.info-blog div div input {
  flex: 2;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 20px;
  outline: none;
}
.info-blog div div button {
  flex: 1;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e50914;
}
