@page 

<!Doctype html>
<html>

<head>
    <title>step 1</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/registration.css">
</head>

<body>
    <h1 style="color: black">Successfully logged in</h1>
</body>

</html>